<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Update Profile</li>
  <div class="bread-back">
    <li><%= link_to "Back", :back %></li>
  </div>
</ol>
  
<div class="form-update">
  <h3>Update Profile</h3> 
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <label class="username" for="username">Username</label>
      <%= f.input :username, required: true, autofocus: true, label: false, placeholder: 'Username', input_html: { class: 'form-control' } %>
      <label class="email" for="email">Email</label>
      <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email', input_html: { class: 'form-control' } %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", placeholder: "Leave blank for no change", required: false, input_html: { class: 'form-control' }%>
      <%= f.input :password_confirmation, required: false, input_html: { class: 'form-control' } %>
      <%= f.input :current_password, placeholder: "Password needed for confirmation", required: true, input_html: { class: 'form-control' } %>
    </div>
    <br>
    <div class="form-actions">
      <%= f.button :submit,"Update" %>
    </div>
  <% end %>
  <div class="unhappy">
    <h4>Cancel my account</h4>
    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>
