.show-intro
	- if user_signed_in?
		.alert.alert-info
			Welcome,
			= link_to current_user.username
	- else
		.alert.alert-warning
			%p Sign In to add reviews
%br
#post_show
	%h1= @post.name
	%p.username
		Shared by
		= @post.user&.username || 'N/A'
	.clearfix
		.post_image_description
			= image_tag @post.avatar.url(:thumb)
			.text-info
				%br
				= simple_format(@post.address)
			.description
				Details:
				= simple_format(@post.description)
		.post_data
			%p.data
				%i.fa.fa-comments-o
				= pluralize(@post.comments.count, "Review")
			= link_to "Edit Resturant Details", edit_post_path(@post), class: "data"
			= link_to "Delete Resturant", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "data"
	.clearfix.wrapper





#comments
	= pluralize(@post.comments.count, "Review")
	- @comments.each do |comment|
		.comment
			%p.username= comment.user.username
			%p.content= comment.content

	= render "comments/form"
